@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';


.mat-toolbar.mat-warn  {
  background: black;
  color: white;
}

.full-width{
  width: 100%;
}

.mat-expansion-panel-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.2rem !important;
  padding-right: 2rem;
  /* padding: 0 24px; */
  border-radius: 0px !important;
  position: relative;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 0px 0px 0px;
}

.titulo{
  border-bottom: 0.2rem solid darkred;
  font-size: 1.5rem;
  font-family: monospace;
  line-height: 2rem;
}

.logo{
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
