<ng-container *ngIf="menuItem.root && menuItem.children && menuItem.children.length > 0">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="titulo">
      <mat-panel-title>
        <span>{{menuItem.title}}</span>
      </mat-panel-title>
      <mat-panel-description *ngIf="menuItem.description">
        {{menuItem.description}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
        <app-menu-item *ngFor="let item of menuItem.children" [menuItem]="item">
        </app-menu-item>
    </div>
  </mat-expansion-panel>
</ng-container>
<ng-container *ngIf="!menuItem.root">
  <div class="d-flex flex-column contenedor-item">
    <div class="p-2 flex-fill" (click)="changeStatus()">
      <div class="item-dot" [ngClass]="{'selected': selected}">
      </div>
      <div class="menu-sub-item">
        {{menuItem.title}}
      </div>
    </div>
  </div>
</ng-container>
