<ng-container>
  <div>
    <div class="title" class="contenedor-item" [ngClass]="{'collapsible': menuItem | hasChildren}"
      (click)="changeStatus()">
      <div [ngClass]="{'selected': selected, 'triangle': menuItem | hasChildren, 'item-dot': !(menuItem | hasChildren) }">
      </div>
      <div class="menu-sub-item">
        {{menuItem.title}}
      </div>
    </div>
    <div class="content animate__animated" *ngIf="(menuItem | hasChildren)"
    [ngClass]="{'animate__zoomIn' : displayChildren, 'animate__zoomOut hide': !displayChildren}">
        <app-list-item [items]="menuItem.children"></app-list-item>
    </div>
  </div>
</ng-container>
