<ng-container>
  <div>
    <div class="title" class="contenedor-item" [ngClass]="{'collapsible': menuItem | hasChildren}"
      (click)="changeStatus()">
      <div [ngClass]="{'selected': selected, 'triangle': menuItem | hasChildren, 'item-dot': !(menuItem | hasChildren) }">
      </div>
      <div class="menu-sub-item">
        <span class="item-menu">{{menuItem.title}}</span>
      </div>
    </div>
    <div class="content animate__animated" *ngIf="(menuItem | hasChildren)"
    [ngClass]="{'animate__zoomIn' : displayChildren, 'animate__zoomOut hide': !displayChildren}">
        <app-list-item [items]="menuItem.children" [parentRoute]="menuItem.route"></app-list-item>
    </div>
  </div>
</ng-container>
